/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

p {
	margin:0;
}

#about-me {
	background-color: #45637D;
	color: white;
	padding-bottom: 50px;
}


#projects {
	background-color: #6C757D;
	color: white;
	padding-top: 10px;
}

.card {
	background-color: #343A40;
	color: white;
	text-align: center;
}

#project-1 {
	background-color: #343A40;
}

#project-2 {
	background-color: #343A40;
}

#bootstrap-img1 {
	width: 300px;
	height: 200px;
}

#bootstrap-img2 {
	width: 300px;
	height: 200px;
}

#bootstrap-img3 {
	width: 300px;
	height: 200px;
}